apiVersion: apps/v1
kind: Deployment
metadata:
  name: payment-service
  namespace: saga-demo
spec:
  replicas: 1
  selector:
    matchLabels:
      app: payment-service
  template:
    metadata:
      labels:
        app: payment-service
    spec:
      containers:
        - name: payment-service
          image: payment-service:latest
          imagePullPolicy: Never
          env:
            - name: KAFKA_BROKER
              value: "kafka:9092"
            - name: PORT
              value: "4001"
            - name: SUCCESS_RATE
              value: "0.75"
          ports:
            - containerPort: 4001
          readinessProbe:
            httpGet:
              path: /health
              port: 4001
            initialDelaySeconds: 5
            periodSeconds: 5
          livenessProbe:
            httpGet:
              path: /health
              port: 4001
            initialDelaySeconds: 30
            periodSeconds: 10
---
apiVersion: v1
kind: Service
metadata:
  name: payment-service
  namespace: saga-demo
spec:
  selector:
    app: payment-service
  ports:
    - protocol: TCP
      port: 4001
      targetPort: 4001
